append head
	link(rel='stylesheet',href='css/markdown.css')
block content
	div.container-fluid.homepage
		div.editor-container
			input(ng-model='form.title',placeholder='标题').editor-title
		div.home-content.clearfix
			div#editormd.home-content-text
				textarea#myMd.mark-none(name='text' ng-model='form.text') ### Hello Editor.md !
		a#submit.btn.btn-success.btn-lg.submit-btn(ng-click='') Submit Blog
append scripts
	script(src='../showdown/dist/showdown.min.js')
	script(src='../zepto/zepto.min.js')
	script(src='../editor.md/src/editormd.js')
	script.
		var jQuery = Zepto;
		var testEditor;
		(function(){
			testEditor=editormd({
				id:"editormd",
				width:"100%",
				height:640,
				path:"../editor.md/lib/",
				markdown:"",
				codeFold:true
			});
			document.getElementById('submit').onmousedown=function(){
				var scope = angular.element(document.getElementById('myMd')).scope();
				scope.form.text = testEditor.getMarkdown();
				scope.submitPost();
			}
		})();


