block content
	div.container.homepage2
		div.list-container
			ul.article-list(ng-repeat='post in posts')
				li.have-img.clearfix
					a.wrap-img
						img(src="/images/indexBg4.jpg")
					div
						p.list-top
							a.author-name.blue-link 刘恒
							em .
							span.time 2010-10-12
						h4.title
							a(href='/readPost/{{post._id}}') {{post.title}}
						div.list-footer
							a 阅读 23 
							a . 评论 1 
							span . 喜欢 1
append scripts
	script.