block content
	div#pageIndex.container-fluid.homepage
		div.indexBg
			div.pc-login-box
				div.pc-input-wrap.pc-accout
					input( ng-model="user.phoneNumber" name="phoneNumber" type="text").pc-w-input
				div.pc-input-wrap.pc-psw
					input( ng-model="user.password" name="password" type="password").pc-w-input
				div.info-list
					div.w-lt 记住密码
					div.w-fr 忘记密码
				a.btn.btn-success.btn-block.btn-top(ng-click="userLogin()") 登录