extends ../layout
block content
	div.container
		div.list-container
			ul.article-list
				li.have-img.clearfix
					a.wrap-img
						img(src="../images/indexBg4.jpg")
					div
						p.list-top
							a.author-name.blue-link 刘恒
							em .
							span.time 2010-10-12
						h4.title
							a(src="/partials/blogContent") 最智慧的女配角--致敬班婕妤
						div.list-footer
							a 阅读 23 
							a . 评论 1 
							span . 喜欢 1
append scripts
	script.