block content
	div.container.homepage2
		div.article
			div.preview
				div.author-info
					a.avatar
						img(src="images/indexBg2.jpeg")
					span.label 作者
					a.author-name.blue-link
						span 刘恒
					span 2016.08.22 14:31
				h1.title {{post.title}}
				div.meta-top
					span 字数1051
					span 阅读7657
					span 阅读7657
					span 阅读7657
				div#article-content.show-content(ng-bind-html="post.html")
append scripts
	script(src='../showdown/dist/showdown.min.js')
	script.

