extends layout
block head
	script(src='angular/angular.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
block content
	div#pageIndex.container-fluid.homepage
		div.indexBg
append scripts
	script(src='../editor.md/src/editormd.js')




