/* app css stylesheet */

a {
    color: #555555;
    text-decoration: none;
}
a:-webkit-any-link{
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
em{
  font-style: italic;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
@media screen and (min-width: 768px) {
  #mynav {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px groove rgba(0, 0, 0, 0.05);
  }
  #mynav li > a {
    color: rgba(0, 0, 0, 0.7);
  }
  #mynav li > a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
}
#mynav .navbar-brand {
  color: #2a6496 !important;
  font-weight: normal;
}
#mynav .navbar-brand:hover {
  color: #357fbe !important;
}
#mynav .navbar-brand img {
  height: 20px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
.homepage{
  margin: 0;
  padding: 0;
  padding-top: 50px;
  min-height: 800px;
  overflow: hidden;
}
.footer {
  padding-top: 50px;
  width: 100%;
}
.footer .container-fluid:last-child {
  text-align: center;
}
.footer .container-fluid:last-child .container .row {
  display: inline-block;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.footer .container-fluid:last-child .container .row a {
  color: #92b4f2;
}
.footer .container-fluid:last-child .container .row a:hover {
  color: #6495ed;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
body blockquote {
  border-left: 5px solid #92b4f2;
}
body pre {
  border-radius: 1px;
  border: none;
  padding: 20px;
}
#scrollUp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  bottom: 20px;
  right: 20px;
  line-height: 50px;
  padding-left: 11px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
#scrollUp:hover {
  text-decoration: none;
  color: #49a3df;
  background-color: rgba(0, 0, 0, 0.1);
}
#scrollUp:hover {
  background-color: #000;
}

/*首页图片*/
.indexBg{
    width: 100%;
    height: 100%;
    background: url('../images/indexBg4.jpg') no-repeat;
    background-size: 100% auto;
}
.indexBg img{
  width: 100%;
}
.submit-btn{
  margin:10px 10px 0 0;
  float: right;
}
.list-container{

}
.article-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.article-list>li {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    box-sizing: border-box;
    word-wrap: break-word;
}
.wrap-img{
    float: right;
    width: 100px;
    height: 100px;
}
.wrap-img img{
  width: 100%;
  height: 100%;
}
.have-img>div {
    padding-right: 110px;
}
.list-top{
    margin: 8px 0;
    font-size: 12px;
}
.author-name{
   margin-right: 3px;
}
.blue-link{
    color: #4094c7;
}
.time{
  margin-left: 3px;
  color: #717171;
}
.article-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.article-list .list-footer {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.article-list .list-footer>a,.article-list .list-footer>span {
    color: #999999;
}


/*blogContent*/
.comment-list{
    padding-left: 10px;
    padding-right: 10px;
}
.comment-text {
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.commnet-text textarea {
    width: 100%;
    height: 78px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    resize: none;
}

/*login*/
.pc-login-box{
  height: auto;
  width: 240px;
  min-height: 280px;
  background-color: #fff;
  padding: 20px 15px 6px 15px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  position: absolute;
  top:100px;
  right: 100px;

}
.pc-input-wrap{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px #ccc solid;
    padding-left: 30px;
    overflow: hidden;
}
.pc-accout{
    background: url("../images/icon_input.png") no-repeat;
    background-position: 0px 0px;
}
.info-list{
    margin-top: 12px;
    height: 15px;
    font-size: 11px;
    color: #333;
}
.w-lt{
  float: left;
}
.w-fr{
  float: right;
}
.pc-w-input{
    height: 28px;
    width: 100%;
    border:none;
    line-height: normal;
    padding: 0 0 0 2px;
    vertical-align: middle;
    color: #808080;
    outline-style: none;
    background-color: transparent;
    box-shadow:none;
}
.pc-psw{
    background: url("../images/icon_input.png") no-repeat;
    background-position: 0 -30px;
}
.btn-top{
  margin-top:20px;
  overflow: hidden;
}